@inject Colectica.Portal.Utility.LocalizationManager LocalizationManager

<li id="authentication-menu-list-item" class="dropup">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span>
        @User.Identity.Name
        <span class="caret"></span>
    </a>

    <ul class="dropdown-menu dropdown-menu-right">

        @if (User.Identity.IsAuthenticated && !Colectica.Portal.Services.AuthenticationHelper.IsWindowsAuth)
        {
            <li class="link">
                <a asp-controller="Profile" asp-action="Edit">@LocalizationManager.PortalLocalizer["Profile"]</a>
            </li>
                <li class="link">
                    <a asp-action="Index" asp-controller="Manage">@LocalizationManager.PortalLocalizer["Manage Account"]</a>
                </li>
                    <li class="divider"></li>
                    <li class="link">
                        <a href="javascript:document.getElementById('logoutForm').submit()">@LocalizationManager.PortalLocalizer["Log off"]</a>
                    </li>
        }
        else if (User.Identity.IsAuthenticated)
        {
            <li class="link">
                <a href="#">@LocalizationManager.PortalLocalizer["Profile"]</a>
            </li>
        }
        else
        {
            <li class="dropdown-header">@LocalizationManager.PortalLocalizer["Welcome"]</li>
                <li class="link">
                    @Html.ActionLink(LocalizationManager.PortalLocalizer["Log in"], "Login", "Account")
                </li>
                    <li class="link">
                        @Html.ActionLink(LocalizationManager.PortalLocalizer["Create an Account"], "Register", "Account")
                    </li>
        }
    </ul>
</li>
