@inject Colectica.Portal.Utility.LocalizationManager LocalizationManager

@using Colectica.Portal.Utility

﻿@model Colectica.Portal.Models.ItemModel

@{
    var typedId = new Algenta.Colectica.Model.Utility.TypedIdTriple(Model.VersionableItem.CompositeId, Model.VersionableItem.ItemType);
}

<div id="metadata-tools">
	<h5>Metadata Tools</h5>
	<div class="btn-group-vertical" role="group" style="display: block">
	    <button
		type="button"
		class="btn btn-pills"
		title="@LocalizationManager.PortalLocalizer["Appears Within"]"
		id="appears-within-tab"
		data-toggle="popover"
		data-content-id="referenced-by"
	    >
		<span class="glyphicon glyphicon-link"></span> @LocalizationManager.PortalLocalizer["Appears Within"]
	    </button>
	    <div id="referenced-by" class="hidden">
		 @await Component.InvokeAsync("ReferencedByList", new { id = typedId })
	    </div>
	    <button
		type="button"
		class="btn btn-pills"
		title="@LocalizationManager.PortalLocalizer["Information"]"
		id="information-tab"
		data-toggle="popover"
		data-content-id="identification"
	    >
		<span class="glyphicon glyphicon-info-sign"></span> @LocalizationManager.PortalLocalizer["Information"]
	    </button>
	    <div id="identification" class="hidden">
		    <div class="form-horizontal" role="form">
			<dl>
			    <dt>@LocalizationManager.PortalLocalizer["Agency"]</dt>
			    <dd>@Model.VersionableItem.AgencyId</dd>

			    <dt>@LocalizationManager.PortalLocalizer["Identifier"]</dt>
			    <dd>@Html.DisplayObject((Model.VersionableItem as Algenta.Colectica.Model.VersionableBase).Identifier)</dd>

			    <dt>@LocalizationManager.PortalLocalizer["Version"]</dt>
			    <dd>@Model.VersionableItem.Version</dd>

			    <dt>@LocalizationManager.PortalLocalizer["Last Updated"]</dt>
			    <dd>@Html.DisplayObject(Model.VersionableItem.VersionDate)</dd>

			    <dt>@LocalizationManager.PortalLocalizer["Updated by"]</dt>
			    <dd>@Model.VersionableItem.VersionResponsibility</dd>

			    <dt>@LocalizationManager.PortalLocalizer["Rationale"]</dt>
			    <dd>@Model.VersionableItem.VersionRationale.Best</dd>

			    @foreach (var userID in Model.VersionableItem.UserIds)
			    {
				<dt>@userID.Type</dt>
				<dd>@userID.Identifier</dd>
			    }
			</dl>
		    </div>
	    </div>
	    <button
		type="button"
		class="btn btn-pills"
		title="@LocalizationManager.PortalLocalizer["History"]"
		id="history-tab"
		data-toggle="popover"
		data-content-id="history"
	    >
		<span class="glyphicon glyphicon-time"></span> @LocalizationManager.PortalLocalizer["History"]
	    </button>
	    <div id="history" class="hidden">
		    <ul>
			@foreach (var version in Model.VersionHistory.Items)
			{
			    <li>
				<a href="/item/@version.AgencyId/@version.Identifier/@version.Version">@LocalizationManager.PortalLocalizer["Revision"] @version.Version</a> - @Html.DisplayObject(version.VersionDate)

				<div class="version-responsibility">
				    @version.VersionResponsibility
				</div>

				<div class="version-rationale">
				    @version.VersionRationale.Best
				</div>
			    </li>
			}
		    </ul>
	    </div>
	    <div class="btn-group" role="group">
		<button type="button" class="btn btn-pills dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  @LocalizationManager.PortalLocalizer["Download"]
		  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right">
		  <li><a href="/item/@Model.VersionableItem.AgencyId/@Model.VersionableItem.Identifier/@Model.VersionableItem.Version/pdf">@LocalizationManager.PortalLocalizer["PDF"]</a></li>
		  <li><a href="/item/@Model.VersionableItem.AgencyId/@Model.VersionableItem.Identifier/@Model.VersionableItem.Version/ddi">@LocalizationManager.PortalLocalizer["DDI 3.2"]</a></li>
		  <li><a href="/item/@Model.VersionableItem.AgencyId/@Model.VersionableItem.Identifier/@Model.VersionableItem.Version/ddi31">@LocalizationManager.PortalLocalizer["DDI 3.1"]</a></li>
		  <li><a href="/item/@Model.VersionableItem.AgencyId/@Model.VersionableItem.Identifier/@Model.VersionableItem.Version/json">@LocalizationManager.PortalLocalizer["JSON"]</a></li>
		</ul>
	    </div>
	</div>
</div>
